global-include *.po *.py *.ui *.po *.rst
graft debian
include AUTHORS
include CHANGELOG
include LICENSE
include MANIFEST.in
include README
include TRANSLATORS
include update-changelog
include update-po
